@model Koala.Portal.Core.ViewModels.PortalViewModels.CreateTransactionTypeViewModels
@{
    ViewData["Title"] = "CreateTransactionType";
    ViewData["ActivePage"] = "TransactionTypes";
    ViewData["MenuToggle"] = "Settings";
}
<div class="d-flex flex-column-fluid">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">
                <form name="CreateUserForm" id="CreateForm" asp-action="CreateTransactionType" asp-controller="TransactionType" method="post">
                    <div class="card card-custom card-stretch gutter-b">
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Transaction Tip Yönetimi</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">Yeni Transaction Tipi Ekle</span>
                            </h3>
                        </div>
                        <div class="card-body pt-0 pb-3">
                            <div class="tab-content">


                                <div asp-validation-summary="ModelOnly"></div>

                                <div class="form-group row">
                                    <label asp-for="Name" class="col-md-1 col-form-label">Adı</label>
                                    <div class="col-md-5">
                                        <input class="form-control form-control-sm" asp-for="Name" type="text" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <label asp-for="Description" class="col-md-1 col-form-label">Açıklama</label>
                                    <div class="col-md-5">
                                        <input class="form-control form-control-sm" asp-for="Description" type="text" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="ColorClass" class="col-md-1 col-form-label">Renk</label>
                                    <div class="col-md-3">
                                        <select class="form-control form-control-sm" id="ColorClass" name="ColorClass">
                                            <option value="timeline-desc-light-danger">Kırmızı</option>
                                            <option value="timeline-desc-light-success">Yeşil</option>
                                            <option value="timeline-desc-light-primary">Mavi</option>
                                            <option value="timeline-desc-light-info">Mor</option>
                                            <option value="timeline-desc-light-warning">Sarı</option>
                                        </select>
                                    </div>
                                    <label asp-for="Icon" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-3 row">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-code" id="iconview"></i></span>
                                            <select class="form-control form-control-sm" id="Icon" name="Icon">

                                                <option value="fas fa-code">Kod</option>
                                                <option value="flaticon-multimedia">E-Mail</option>
                                                <option value="flaticon2-rubbish-bin-delete-button">Çöp</option>
                                                <option value="flaticon2-chat">Chat</option>
                                                <option value="flaticon-event-calendar-symbol">Takvim</option>
                                                <option value="flaticon2-user">Kullanıcı</option>
                                                <option value="flaticon-home">Ana Sayfa</option>
                                                <option value="flaticon2-layers">Projeler</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary mr-2">Ekle</button>
                            <a href="~/TransactionType" class="btn btn-secondary">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/custom/addtransactiontypepage.js"></script>
}