@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Koala.Portal.Core.ViewModels.PortalViewModels.CreateAgendaTypeViewModel
@{
    ViewData["Title"] = "Etkinlik Tipi Ekle";
    ViewData["ActivePage"] = "AgendaTypes";
    ViewData["MenuToggle"] = "Settings";
}



<div class="d-flex flex-column-fluid">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">
                <form name="CreateUserForm" id="CreateForm" asp-action="CreateAgendaType" asp-controller="AgendaType" method="post">
                    <div class="card card-custom card-stretch gutter-b">
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Etkinlik Yönetimi</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">Yeni Etkinlik Tipi Ekle</span>
                            </h3>
                        </div>
                        <div class="card-body pt-0 pb-3">
                            <div class="tab-content">

                           
                                <div asp-validation-summary="ModelOnly"></div>

                                <div class="form-group row">
                                    <label asp-for="Name" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-5">
                                        <input class="form-control form-control-sm" asp-for="Name" type="text" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <label asp-for="Description" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-5">
                                        <input class="form-control form-control-sm" asp-for="Description" type="text" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="BackColor" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-3">
                                        <input class="form-control form-control-sm" asp-for="BackColor" type="color" />
                                        <span asp-validation-for="BackColor" class="text-danger"></span>
                                    </div>
                                    <label asp-for="FontColor" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-3">
                                        <input class="form-control form-control-sm" asp-for="FontColor" type="color" />
                                        <span asp-validation-for="FontColor" class="text-danger"></span>
                                    </div>
                                    <label asp-for="BorderColor" class="col-md-1 col-form-label"></label>
                                    <div class="col-md-3">
                                        <input class="form-control form-control-sm" asp-for="BorderColor" type="color" />
                                        <span asp-validation-for="BorderColor" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary mr-2">Demirbaş Ekle</button>
                            <a href="~/AgendaType" class="btn btn-secondary">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>




    </div>

</div>