@model Koala.Portal.Core.ViewModels.PortalViewModels.UpdateClaimViewModels
@{
    ViewData["Title"] = "UpdateClaim";

    var ClaimInfo = ViewData["ClaimInfo"]!.ToString()!;
}

<div class="d-flex flex-column-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">@(ClaimInfo) Yetkisini Düzenle</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">Yetki Güncelle</span>
                        </h3>
                    </div>
                    <form name="CreateModuleForm" id="CreateForm" asp-action="UpdateClaim" asp-controller="Module" method="post">
                        <div class="card-body pt-0 pb-3">
                            <div asp-validation-summary="ModelOnly"></div>
                            @Html.ValidationSummary("")
                            @Html.HiddenFor(x=>x.ModuleId)
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group row">
                                <label asp-for="Name" class="col-md-1 col-form-label">Adı</label>
                                <div class="col-md-5">
                                    <input class="form-control form-control-sm" asp-for="Name" readonly="readonly" type="text" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <label asp-for="DisplayName" class="col-md-1 col-form-label">Görünen Ad</label>
                                <div class="col-md-5">
                                    <input class="form-control form-control-sm" asp-for="DisplayName" type="text" />
                                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                                </div>
                                <label asp-for="Description" class="col-md-1 col-form-label">Açıklama</label>
                                <div class="col-md-12">
                                    <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary mr-2">Yetki Güncelle</button>
                            <a href="~/Module/ClaimDetail/@Model.ModuleId" class="btn btn-secondary">Vazgeç</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
