
<div class="modal fade" id="support-detail-modal" tabindex="-1" role="dialog" aria-labelledby="support-detail-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="support-detail-modal-label">asda</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>

            </div>
            <div class="modal-body">
                <div class="card card-custom gutter-b card-border border-primary">
                    <div class="card-body">
                        <form class="form">
                            <div class="form-group row">
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Logo Destek Sözleşmesi</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="det_sup_logo_exp_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success float-left">
                                        <label>
                                            <input type="checkbox" id="det_logo_cb" name="select" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Teknik Destek Sözleşmesi</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="det_tec_sup_exp_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success float-left">
                                        <label>
                                            <input type="checkbox" name="select" id="det_sup_tec_cb" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row align-center">
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Logo Yeni Satış Desteği</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="det_sup_new_logo_exp_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success">
                                        <label>
                                            <input type="checkbox" id="det_new_logo_sup_cb" name="select" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Yeni Donanım Satış Desteği</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="det_new_tec_sup_ex_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success">
                                        <label>
                                            <input type="checkbox" name="select" id="det_new_tec_sup_cb" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>


                            <div class="form-group row pt-10">
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Kategori : </span>
                                    <span class="text-muted font-size-sm col-6 " id="det_sup_category_sb"></span>
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Alt Kategori : </span>
                                    <span class="text-muted font-size-sm col-6" id="det_sup_subcategory_sb"></span>
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Destek  Tipi : </span>
                                    <span class="text-muted font-size-sm col-6" id="det_sup_priority_sb"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card card-custom gutter-b card-border border-primary">
                    <div class="card-header">
                        <h5 class="modal-title text-dark-50 mt-5">Talep Bilgileri</h5>

                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Atanan Departman : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_department_sb"></span>
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Atanan Kişi : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_assignedto_sb"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Arama Zamanı : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_call_time"></span>
                                    </div>
                                </div>
                                <div class="col-6  row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">İşe Başlama Zamanı : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_start_time"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Aktif Çalışan : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_active_working_user_sb"></span>
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">İlişkili Proje : </span>
                                    </div>
                                    <div class="col-8 text-left">

                                        <span class="text-muted font-size-sm" id="det_project_sb"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">İlişkili Faz : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_project_line_sb"></span>
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">İlişkili İş : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_project_line_work_sb"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Müşteri Talebi : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_description_tb"></span>
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">İlişkili Dosya : </span>
                                    </div>
                                    <div class="col-8">
                                        <a href=""></a>
                                        <span class="text-muted font-size-sm" id="det_sup_file_sp"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 row">
                                    <div class="col-2 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Not : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_notes_tb"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card card-custom gutter-b card-border border-primary">
                    <div class="card-header">
                        <h5 class="modal-title text-dark-50 mt-5" id="exampleModalLabel">Talep Bilgileri</h5>

                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Firma : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_firm_sb"></span>
                                    </div>
                                </div>

                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Firma Telefon : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_firm_phones_sb"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Yetkili : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_contact_sb"></span>
                                    </div>
                                </div>
                                <div class="col-6  row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Yetkili Telefon: </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="det_sup_contact_phones_sb"></span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary font-weight-bold" id="det_start_bt">Üzerine Al/Başla</button>
                <button type="button" class="btn btn-danger font-weight-bold" id="det_pr_assign_bt">Kullanıcıya Ata</button>
                <button type="button" class="btn btn-warning font-weight-bold" id="det_update_bt">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="support-update-modal" tabindex="-1" role="dialog" aria-labelledby="createSupportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSupportModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom gutter-b card-border border-primary">
                    <div class="card-body">
                        <form class="form">
                            <div class="form-group row">
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Logo Destek Sözleşmesi</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="upt_sup_logo_exp_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success float-left">
                                        <label>
                                            <input type="checkbox" id="upt_logo_cb" name="select" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Teknik Destek Sözleşmesi</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="upt_tec_sup_exp_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success float-left">
                                        <label>
                                            <input type="checkbox" name="select" id="upt_sup_tec_cb" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row align-center">
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Logo Yeni Satış Desteği</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="upt_sup_new_logo_exp_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success">
                                        <label>
                                            <input type="checkbox" id="upt_new_logo_sup_cb" name="select" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-4">
                                    <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Yeni Donanım Satış Desteği</label>
                                    <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="upt_new_tec_sup_ex_lb"></label>
                                </div>
                                <div class="col-2">
                                    <span class="switch switch-outline switch-icon switch-success">
                                        <label>
                                            <input type="checkbox" name="select" id="upt_new_tec_sup_cb" disabled="disabled" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row pt-10">
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Kategori : </span>
                                    <span class="text-muted font-size-sm col-6 " id="upt_sup_category_sb"></span>
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Alt Kategori : </span>
                                    <span class="text-muted font-size-sm col-6" id="upt_sup_subcategory_sb"></span>
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Destek  Tipi : </span>
                                    <span class="text-muted font-size-sm col-6" id="upt_sup_priority_sb"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Firma : </span>
                                    <span class="text-muted font-size-sm col-6 " id="upt_sup_firm_sb"></span>
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Yetkili : </span>
                                    <span class="text-muted font-size-sm col-6" id="upt_sup_contact_sb"></span>
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Telefon : </span>
                                    <span class="text-muted font-size-sm col-6" id="upt_sup_contact_phones_sb"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card card-custom gutter-b card-border border-primary">
                    <div class="card-header">
                        <h5 class="modal-title text-dark-50 mt-5">Talep Bilgileri</h5>

                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="form-group row">
                                <div class="col-12 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Müşteri Talebi : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="upt_sup_description_tb"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Atanan Departman : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="upt_sup_department_sb"></span>
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Atanan Kişi : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <span class="text-muted font-size-sm" id="upt_sup_assignedto_sb">N</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Destek Durumu : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <select id="upt_ticket_state" class="form-control select2"></select>
                                    </div>
                                </div>
                                <div class="col-6 row">
                                    <div class="col-4 text-right">
                                        <span class="text-danger font-size-sm col-form-label font-weight-bolder">Destek Türü : </span>
                                    </div>
                                    <div class="col-8 text-left">
                                        <select id="upt_support_type" class="form-control select2"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" id="upt_sup_close_div">

                                <div class="col-2 text-right">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Başlama Zamanı : </span>
                                </div>
                                <div class="col-4 text-left">
                                    <div class="input-group date" id="upt_ticket_start_date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Select date &amp; time" id="upt_ticket_start_date_tb" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" data-target="#upt_ticket_start_date" />
                                        <div class="input-group-append" data-target="#upt_ticket_start_date" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 text-right">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Bitiş Zamanı : </span>
                                </div>
                                <div class="col-4 text-left">
                                    <div class="input-group date" id="upt_ticket_completed_date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Select date &amp; time" id="upt_ticket_completed_date_tb" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" data-target="#upt_ticket_completed_date" />
                                        <div class="input-group-append" data-target="#upt_ticket_completed_date" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row" id="upt_sup_price_div">
                                <div class="col-2 text-right">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Alınan Ücret : </span>
                                </div>
                                <div class="col-4 text-left">
                                    <input type="text" class="form-control" id="upt_ticket_ucret" />
                                </div>
                                <div class="col-2 text-right">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Döviz Türü: </span>
                                </div>
                                <div class="col-4 text-left">
                                    <select id="upt_currency_type" class="form-control select2">
                                        <option value="TRY">Lira</option>
                                        <option value="USD">Dolar</option>
                                        <option value="EUR">Euro</option>
                                    </select>
                                </div>
                            </div>
                            @*  <div class="form-group mb-1" id="upt_sup_notes_div">
                            <label class="text-danger font-size-sm col-form-label font-weight-bolder" for="upt_sup_notes_tb">
                            Yapılan İşlem
                            <span class="text-danger"></span>
                            </label>
                            <input type="text" class="form-control" id="upt_jira_or_support_code" />
                            </div>
                            <div class="form-group mb-1" id="upt_sup_notes_div">
                            <label class="text-danger font-size-sm col-form-label font-weight-bolder" for="upt_sup_notes_tb">
                            Yapılan İşlem
                            <span class="text-danger"></span>
                            </label>
                            <div class="input-group date" id="upt_register_date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Select date &amp; time" id="upt_register_date_tb" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" data-target="#upt_register_date" />
                            <div class="input-group-append" data-target="#upt_register_date" data-toggle="datetimepicker">
                            <span class="input-group-text">
                            <i class="ki ki-calendar"></i>
                            </span>
                            </div>
                            </div>
                            </div>
                            <div class="form-group mb-1" id="upt_sup_notes_div">
                            <label class="text-danger font-size-sm col-form-label font-weight-bolder" for="upt_sup_notes_tb">
                            Yapılan İşlem
                            <span class="text-danger"></span>
                            </label>
                            <input type="text" class="form-control" id="upt_version" />
                            </div> *@



                            <div class="form-group row" id="upt_sup_wait_inlogo_div">

                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Jira Kodu : </span>

                                    <input type="text" class="form-control" id="upt_jira_or_support_code" />
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Kayıt Tarihi : </span>

                                    <div class="input-group date" id="upt_register_date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Select date &amp; time" id="upt_register_date_tb" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" data-target="#upt_register_date" />
                                        <div class="input-group-append" data-target="#upt_register_date" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <span class="text-danger font-size-sm col-form-label font-weight-bolder">Versiyon : </span>

                                    <input type="text" class="form-control" id="upt_version" />
                                </div>
                            </div>

                            <div class="form-group mb-1" id="upt_sup_notes_div">
                                <label class="text-danger font-size-sm col-form-label font-weight-bolder" for="upt_sup_notes_tb">
                                    Yapılan İşlem
                                    <span class="text-danger"></span>
                                </label>
                                <textarea class="form-control" id="upt_sup_notes_tb" rows="3"></textarea>
                            </div>
                            <div class="form-group mb-1">
                                <label class="text-danger font-size-sm col-form-label font-weight-bolder" for="upt_sup_notlar_tb">
                                    Müşteri Notu
                                    <span class="text-danger"></span>
                                </label>
                                <textarea class="form-control" id="upt_sup_notlar_tb" rows="3"></textarea>
                            </div>


                        </form>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                <button type="button" id="upt_sup_save_bt" class="btn btn-warning font-weight-bold">Destek Kaydı Güncelle</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="support-create-modal" tabindex="-1" role="dialog" aria-labelledby="createSupportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSupportModalLabel">Yeni Destek Kaydı Oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group row">
                        <div class="col-4">
                            <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Logo Destek Sözleşmesi</label>
                            <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="crt_sup_logo_exp_lb"></label>
                        </div>
                        <div class="col-2">
                            <span class="switch switch-outline switch-icon switch-success float-left">
                                <label>
                                    <input type="checkbox" id="crt_logo_cb" name="select" disabled="disabled" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-4">
                            <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Teknik Destek Sözleşmesi</label>
                            <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="crt_tec_sup_exp_lb"></label>
                        </div>
                        <div class="col-2">
                            <span class="switch switch-outline switch-icon switch-success float-left">
                                <label>
                                    <input type="checkbox" name="select" id="crt_sup_tec_cb" disabled="disabled" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row align-center">
                        <div class="col-4">
                            <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Logo Yeni Satış Desteği</label>
                            <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="crt_sup_new_logo_exp_lb"></label>
                        </div>
                        <div class="col-2">
                            <span class="switch switch-outline switch-icon switch-success">
                                <label>
                                    <input type="checkbox" id="crt_new_logo_sup_cb" name="select" disabled="disabled" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-4">
                            <label class="font-size-sm col-form-label font-weight-bolder text-right col-12 pb-0 pt-0">Yeni Donanım Satış Desteği</label>
                            <label class="text-black-50 font-size-sm col-form-label font-weight-bolder text-right col-12 pt-0" hidden="hidden" id="crt_new_tec_sup_ex_lb"></label>
                        </div>
                        <div class="col-2">
                            <span class="switch switch-outline switch-icon switch-success">
                                <label>
                                    <input type="checkbox" name="select" id="crt_new_tec_sup_cb" disabled="disabled" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </form>
                <form class="form">
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Firma</label>
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <select class="form-control select2" id="crt_sup_firm_sb" name="param">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Yetkili</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_contact_sb">
                            </select>
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Yetkili E-Posta</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_contact_mail_sb">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Servis Yetkili</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_contact2_sb">
                            </select>
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Servis Yetkili E-Posta</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_contact2_mail_sb">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Atanan Departman</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_department_sb">
                            </select>
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Atanan Personel</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_assignedto_sb">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Kategori</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_category_sb">
                            </select>
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Alt Kategori</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_subcategory_sb">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Öncelik</label>
                        <div class=" col-lg-4 col-sm-12">de
                            <select class="form-control" id="crt_sup_priority_sb">
                            </select>
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Tür</label>
                        <div class=" col-lg-4 col-sm-12">
                            <select class="form-control" id="crt_sup_type_sb">
                            </select>
                        </div>
                        @*  <label class="col-form-label text-right col-lg-2 col-sm-12">Tür</label>
                        <div class=" col-lg-4 col-sm-12" id="crt_sup_type_sb">
                        <select class="form-control">
                        </select>
                        </div> *@
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Arama Zamanı</label>
                        <div class="col-lg-10 col-sm-12">
                            <div class="input-group date" id="crt_sup_cal_time" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" placeholder="Select date &amp; time" id="crt_sup_cal_time_tb"  data-target="#crt_sup_cal_time" />
                                <div class="input-group-append" data-target="#crt_sup_cal_time" data-toggle="datetimepicker">
                                    <span class="input-group-text">
                                        <i class="ki ki-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-1">
                        <label for="crt_sup_description_tb">
                            Müşteri Talebi
                            <span class="text-danger"></span>
                        </label>
                        <textarea class="form-control" id="crt_sup_description_tb" rows="3"></textarea>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                <button type="button" id="crt_sup_save_bt" class="btn btn-success font-weight-bold">Destek Kaydı Ekle</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="support-take-on-modal" tabindex="-1" role="dialog" aria-labelledby="takeonSupportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="takeOnSupportModalLabel">Üzerine Al Başla</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <!--begin::Engage Widget 7-->
                        <div class="card card-custom card-stretch gutter-b">
                            <div class="card-body d-flex p-0">
                                <div class="flex-grow-1 p-12 card-rounded bgi-no-repeat d-flex flex-column justify-content-center align-items-start" style="background-color: #FFF4DE; background-position: right bottom; background-size: auto 100%; background-image: url(/media/svg/humans/custom-8.svg)">
                                    <h4 class="text-danger font-weight-bolder m-0" id="takeonModalContentTitle">Destek Kaydını Üzerinize Alıyorsunuz</h4>
                                    <p class="text-dark-50 my-5 font-size-xl font-weight-bold" id="takeonModalDesc">
                                        
                                        <br />Lütfen Açıklama alanına sebebini yazın.
                                    </p>
                                    <form class="form">

                                        <div class="form-group row">
                                            <label for="to_sup_description_tb">
                                                Açıklama -
                                                <span class="text-danger">(*Zorunlu)</span>
                                            </label>
                                            <textarea class="form-control" id="to_sup_description_tb" name="to_sup_description_tb" rows="3"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end::Engage Widget 7-->
                    </div>
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                <button type="button" id="sup_accept_take_on_bt" class="btn btn-success font-weight-bold">Onaylıyorum</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bg-light-primary" id="firm-open-support-modal" tabindex="-1" role="dialog" aria-labelledby="firm-open-supporta-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="firm_open_support_modal_label">Firma Açık Destek Kayıtları</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>

            </div>
            <div class="modal-body">

                <div class="alert alert-custom alert-outline-2x alert-outline-danger fade show mb-5" role="alert">
                    <div class="alert-icon"><i class="flaticon-danger"></i></div>
                    <div class="alert-text">Lütfen öncelikle konuyla ilgili müşteri kaydınız açılmamış olduğuna emin olun.</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>

                <table class="table table-bordered table-hover" id="FirmOpenSupportTable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th title="TicketId">TicketId</th>
                            <th title="CallTime">Arama Zamanı</th>
                            <th title="Apointed">Atanan</th>
                            <th title="Description">Konu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th title="TicketId">Arama Zamanı</th>
                            <th title="Name">Arama Zamanı</th>
                            <th title="Description">Atanan</th>
                            <th title="Description">Konu</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-default font-weight-bold" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="support-send-to-user-modal" tabindex="-1" role="dialog" aria-labelledby="support-send-to-user-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SupportSendToUserModalLabel">Kullanıcıya Ata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Kullanıcı</label>
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <select class="form-control select 2" id="sup_send_user_sb" name="param">
                            </select>
                        </div>
                    </div>
                     <div class="form-group mb-1">
                        <label for="crt_sup_description_tb">
                            Açıklama - (En Az 10 Karakter)
                            <span class="text-danger"></span>
                        </label>
                        <textarea class="form-control" id="sup_send_description_tb" rows="3"></textarea>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                <button type="button" id="sup_send_save_bt" class="btn btn-success font-weight-bold">Destek Kaydını Kullanıcıya Gönder</button>
            </div>
        </div>
    </div>
</div>

