@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Koala.Portal.Core.ViewModels.PortalViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Şifre Değiştir";
	ViewData["ActivePage"] = "ChangePassword";
}
<div class="container-fluid">
<div class="d-flex flex-row">
    <partial name="_ProfileAsidePartial" />
	<!--begin::Content-->
	<div class="flex-row-fluid ml-lg-8">
		<!--begin::Card-->
		<div class="card card-custom">
			<!--begin::Header-->
			<div class="card-header py-3">
				<div class="card-title align-items-start flex-column">
					<h3 class="card-label font-weight-bolder text-dark">Profil Yönetimi</h3>
					<span class="text-muted font-weight-bold font-size-sm mt-1">Kullanıcı Şifrenizi Değiştirin</span>
				</div>
			
			</div>
			<!--end::Header-->
			<!--begin::Form-->
			<form class="form" asp-controller="UserAccount" asp-action="ChangePassword">
				<div class="card-body">
                    <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly">
                             
                    </div>
					<div class="form-group row">
						<label class="col-xl-3 col-lg-3 col-form-label text-alert">Mevcut Şifreniz</label>
						<div class="col-lg-9 col-xl-6">
								<input  class="form-control form-control-lg form-control-solid mb-2" asp-for="OldPassword" placeholder="Eski Şifre" />
								<span asp-validation-for="OldPassword" class="text-danger"></span>
						</div>
                    </div>
					<div class="form-group row">
						<label class="col-xl-3 col-lg-3 col-form-label text-alert">Yeni Şifre</label>
						<div class="col-lg-9 col-xl-6">
								<input asp-for="Password" class="form-control form-control-lg form-control-solid" placeholder="Yeni Şifre" />
								<span asp-validation-for="Password" class="text-danger"></span>
						</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Yeni Şifre Tekrar</label>
                        <div class="col-lg-9 col-xl-6">
                            <input asp-for="ConfirmPassword" class="form-control form-control-lg form-control-solid" placeholder="Yeni Şifre Tekrar" />
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							</div>
                    </div>
                 
                    <div class="card-toolbar">
                        <button type="submit" class="btn btn-success mr-2">Şifre Değiştir</button>
                    </div>
				</div>
			</form>
			<!--end::Form-->
		</div>
	</div>
	<!--end::Content-->
</div>

</div>