<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <img src="~/media/logos/KoalaLogo.png" height="35" />
        </div>
        <div class="nav nav-dark">
            <span class="text-muted font-weight-bold mr-2">2021©</span>
            <a href="https://www.sistem-bilgi.com/" target="_blank" class="text-dark-75 text-hover-primary">Sistem-Bilgisayar</a>
        </div>
    </div>
</div>
